.ChevronFlyout {
  position: relative;
  border: 1px solid #c2cfd6;
  width: 100%;
}
.FlyoutHeader {
  position: relative;
  padding: 10px 5px 5px;
}
.header-title {
  border-bottom-style: solid;
  border-bottom-color: #c2cfd6;
  border-width: 1px;
  height: 28px;
  padding-left: 5px;
  font-size: 14px;
  font-family: "Calibri";
  font-weight: normal;
}
.label-content {
  max-height: 208px;
  overflow-y: auto;
  width: 100%;
  margin-top: 5px;
}
.label-content li {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  -webkit-tap-highlight-color: rgba(108, 193, 232, 0.5);
  font-family: "Calibri";
  font-weight: lighter;
  font-size: 16px;
}
.label-content li :hover {
  background: rgba(108, 193, 232, 0.5);
}
/* .label-content li .label.color {
  vertical-align: 20%;
} */
.label-content li .label.name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  white-space: nowrap;
  margin-left: 5px;
}
.label-content li .label.title {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Happy {
  background: url("../../../public/img/happy.png") no-repeat left center;
}

.no_bullet {
  list-style-type: none;
}

.FlyoutFooter-Default {
  margin-left: 580px;
  margin-top: -12px;
}

.searchBox {
  width: 14rem;
  height: 2rem;
  border: solid #688080 1px;
}

.cardContainer {
  overflow-y: scroll;
  height: 600px;
  position: relative;
}
